/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Scroll kengligi */
  height: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #02c543; /* Scrollning rangi (yashil) */
  border-radius: 4px; /* Scrollning yumaloqligi */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Orqa fonni shaffof qilish */
}
